body {
    margin: 0;
    background-color: black;
    display: flex;
    align-content: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
}
/* a {
    border-radius: 0.1em;
    margin: 0.2em;
    text-align: center;
    font-size: 3em;
    transition: 1s;
    width: 5em;
    outline: none;
    cursor: pointer;
} */
@font-face {
    font-family: "Westminster";
    src: url(../fonts/westminster.ttf);
}
.text{
    user-select: none;
}
.font-west{
    font-family: "Westminster";
}

/* INDEX.HTML STYLES*/

.container-index {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;    
    height: 35em;
    width: 30em;
}
.brain{
    filter: drop-shadow(0px 0px 10px #FFFFFF);
    margin-bottom: 3em;
    height: 27em;
    transition: 1s;
}
.brain:hover{
    filter: drop-shadow(0px 0px 35px #FFFFFF);
    transition: 1s;
}
.logo-name {
    position: absolute;
    background-image: url(../img/logo-name.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 29em;
    height: 10em;
    width: 30em;
}

/* INDEX.HTML MEDIA QUERIES */

@media screen and (max-width: 360px) {
    .container-logo {
        height: 20em;
        width: 20em;
    }
  
    .brain {
        margin: 0em;
        height: 15em;
        width: 15em;
    }

    .logo-name {
        background-size: contain;
        margin-top: 22em;
        height: 10em;
        width: 20em;
  }}

/* NAME.HTML STYLES */

.container-name-cel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em;
    width: 30em;
    height: 30em;
}
.title-name {
    position: absolute;
    margin-bottom: 3.7em;
    filter: drop-shadow(0px 0px 9px #ffffff);
    color: #000000;
    font-size: 6em;
}
.name-cel {
    box-shadow: 0px 0px 15px 0px rgba(255,255,255,1);
    width: 5em;
    height: 1em;
    font-size: 2.9em;
    text-align: center;
    border-radius: 0.2em;
    color: rgb(80, 80, 80);
    caret-color: rgb(255, 0, 64);
}
.names-button {
    position: absolute;
    font-size: 3.1em;
    border-radius: 0.2em;
    margin-top: 5.5em;
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px rgba(255,255,255,1);
    transition: 1s;
    background-color: white;
}
.names-button:hover {
    box-shadow: 0px 0px 30px 0px rgba(255,255,255,1);
    transition: 1s;
}
.names-button:active {
    transform: scale(1.06);
    transition: 1ms;
}

/* NAME.HTML MEDIA QUERIES */

@media screen and (max-width: 360px) {
    .title-name {
        margin-bottom: 3.5em;
        font-size: 4.5em;
    }
    .name-cel {
        width: 5em;
        height: 1em;
        font-size: 2.9em;
    }
    .names-button {
        font-size: 2.5em;
        margin-top: 4.5em;
    }}

/* DIFICULT.HTML STYLES */

.container-dificult {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em;
    width: 30em;
    height: 30em;
}
.title-dif {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-bottom: 3.7em;
    filter: drop-shadow(0px 0px 9px #ffffff);
    color: #000000;
    font-size: 6em;
}
.dif-select:hover{
    box-shadow: 0px 0px 30px 0px rgba(255,255,255,1);
    transition: 1s;
}
.dif-select {
    margin: 0.3em;
    text-align: center;
    width: 5em;
    height: 1em;
    font-size: 2.9em;
    appearance: none;
    border-radius: 0.1em;
    transition: 1s;
    cursor: pointer;
}
.c-easy {
    background-color: rgb(0, 217, 255);
}
.c-middle {
    background-color: rgb(132, 0, 255);
}
.c-hard {
    background-color: crimson;
}

/* DIFICULT.HTML MEDIA QUERIES */

@media screen and (max-width: 360px) {
    .container-dificult {
        display: flex;
        flex-direction: column;
        margin-top: 9em;
    }
    .title-dif {
        margin-bottom: 5.25em;
        font-size: 4.5em;
    }
    .dif-select {
        margin-top: -0.1em;
        text-align: center;
        width: 4.5em;
        height: 1em;
        font-size: 2.9em;
    }
}

/* COLOR-EASY/MEDIUM/HARD.HTML STYLES */
.container-colors-easy {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5em;
    width: 30em;
    height: 30em;
}
.title-colors{
    position: absolute;
    margin-bottom: 3.3em;
    filter: drop-shadow(0px 0px 9px #ffffff);
    color: #000000;
    font-size: 6em;
}
.balls {
    display: flex;
}
.ball1, .ball2, .ball3, .ball4 {
    cursor: pointer;
    flex-direction: row;
    margin: 0.5em;
    border: #FFFFFF solid 0.16em;
    box-sizing: border-box;
    height: 4em;
    width: 4em;
    border-radius: 5em;
}
.color-picker1, .color-picker2, .color-picker3, .color-picker4{
    display: flex;
    margin-top: 2em;
}

/* COLORSEASY.HTML MEDIA QUERIES */





/* GAME.HTML STYLES */
.container-game{
    width: 100vw;
    height: 100vh;
}
.logo-name-game {
    margin-top: 1em;
    margin-left: 1em;
    position: absolute;
    background-image: url(../img/brain.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 8px #FFFFFF);
    height: 10em;
    width: 10em;
}

/* GAME.HTML MEDIA QUERIES */

@media screen and (max-width: 360px) {
    .logo-name-game {
        height: 4em;
    }
    
}

.abuelo{
    background-color: azure;
    height: 10em;
    width: 10em;
}
.padre {
    background-color: orange;
    height: 7em;
    width: 7em;
}
.hijo {
    background-color: orangered;
    height: 5em;
    width: 5em;
}

