body {
    margin: 0;
    background-color: black;
    display: flex;
    align-content: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
}
/* INDEX */
.container-index {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;    
    height: 35em;
    width: 30em;
}
.brain{
    filter: drop-shadow(0px 0px 10px #FFFFFF);
    margin-bottom: 3em;
    height: 27em;
    transition: 1s;
}
.brain:hover{
    filter: drop-shadow(0px 0px 35px #FFFFFF);
    margin-bottom: 3em;
    height: 27em;
    transition: 1s;
}
.logo-name {
    position: absolute;
    background-image: url(../img/logo-name.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 29em;
    height: 10em;
    width: 30em;
}

/* INDEX MEDIA QUERIES */

media screen and (max-width: 360px) {
    .container-logo {
        height: 20em;
        width: 20em;
    }
  
    .brain {
        margin: 0em;
        height: 15em;
        width: 15em;
    }

    .logo-name {
        background-size: contain;
        margin-top: 22em;
        height: 10em;
        width: 20em;
  }
}