body {
    margin: 0;
    background-color: black;
    display: flex;
    align-content: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: "Westminster";
    src: url(../fonts/westminster.ttf);
}
.text{
    user-select: none;
}
.font-west{
    font-family: "Westminster";
}

/* INDEX.HTML STYLES*/

.container-index {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;    
    height: 35em;
    width: 30em;
}
.brain{
    filter: drop-shadow(0px 0px 10px #FFFFFF);
    margin-bottom: 3em;
    height: 27em;
    transition: 1s;
}
.brain:hover{
    filter: drop-shadow(0px 0px 35px #FFFFFF);
    transition: 1s;
}
.logo-name {
    position: absolute;
    background-image: url(../img/logo-name.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 29em;
    height: 10em;
    width: 30em;
}

/* INDEX.HTML MEDIA QUERIES */

@media screen and (max-width: 360px) {
    .container-logo {
        height: 20em;
        width: 20em;
    }
  
    .brain {
        margin: 0em;
        height: 15em;
        width: 15em;
    }

    .logo-name {
        background-size: contain;
        margin-top: 22em;
        height: 10em;
        width: 20em;
  }}

/* NAME.HTML STYLES */

.container-name-cel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em;
    width: 30em;
    height: 30em;
}
.title-name {
    position: absolute;
    margin-bottom: 3.7em;
    filter: drop-shadow(0px 0px 9px #ffffff);
    color: #000000;
    font-size: 6em;
}
.name-cel {
    box-shadow: 0px 0px 15px 0px rgba(255,255,255,1);
    width: 5em;
    height: 1em;
    font-size: 2.9em;
    text-align: center;
    border-radius: 0.2em;
    color: rgb(80, 80, 80);
    caret-color: rgb(255, 0, 64);
}
.names-button {
    position: absolute;
    font-size: 3.1em;
    border-radius: 0.2em;
    margin-top: 5.5em;
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px rgba(255,255,255,1);
    transition: 1s;
    background-color: white;
}
.names-button:hover {
    box-shadow: 0px 0px 30px 0px rgba(255,255,255,1);
    transition: 1s;
}
.names-button:active {
    transform: scale(1.06);
    transition: 1ms;
}

/* NAME.HTML MEDIA QUERIES */

@media screen and (max-width: 360px) {
    .title-name {
        margin-bottom: 3.5em;
        font-size: 4.5em;
    }
    .name-cel {
        width: 5em;
        height: 1em;
        font-size: 2.9em;
    }
    .names-button {
        font-size: 2.5em;
        margin-top: 4.5em;
    }}

/* DIFICULT.HTML STYLES */

.container-dificult {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em;
    width: 30em;
    height: 30em;
}
.title-dif {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-bottom: 3.7em;
    filter: drop-shadow(0px 0px 9px #ffffff);
    color: #000000;
    font-size: 6em;
}
.dif-select:hover{
    box-shadow: 0px 0px 30px 0px rgba(255,255,255,1);
    transition: 1s;
}
.dif-select {
    margin: 0.3em;
    text-align: center;
    width: 5em;
    height: 1em;
    font-size: 2.9em;
    appearance: none;
    border-radius: 0.1em;
    transition: 1s;
    cursor: pointer;
}
.c-easy {
    background-color: rgb(0, 217, 255);
}
.c-middle {
    background-color: rgb(132, 0, 255);
}
.c-hard {
    background-color: crimson;
}

/* DIFICULT.HTML MEDIA QUERIES */

@media screen and (max-width: 360px) {
    .container-dificult {
        display: flex;
        flex-direction: column;
        margin-top: 9em;
    }
    .title-dif {
        margin-bottom: 5.25em;
        font-size: 4.5em;
    }
    .dif-select {
        margin-top: -0.1em;
        text-align: center;
        width: 4.5em;
        height: 1em;
        font-size: 2.9em;
    }
}

/* COLORSELECT.HTML STYLES */
.container-colors {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}
.color-picker {
    margin-top: 1.2em;
}
.title-colors{
    position: absolute;
    margin-bottom: 3.3em;
    filter: drop-shadow(0px 0px 9px #ffffff);
    color: #000000;
    font-size: 6em;
}
.container-divs {
    text-align: center;
    width: 40em;
    margin-top: 9em;
  }
.color {
    display: inline-block;
    width: 4em;
    height: 4em;
    margin: 6px;
    border: 0.16em solid #808080;
    cursor: pointer;
    border-radius: 50%;
}
.color:hover {
    box-shadow: white;
    box-shadow: 0px 0px 14px 0px rgba(255,255,255,0.75);
}
.btn-clear {
    font-size: 1.5em;
}
.btn-confirm {
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 2em;
    cursor: pointer;
}

/* COLORSELECT.HTML MEDIA QUERIES */
@media screen and (max-width: 360px) {

}




/* GAME.HTML STYLES */
.container-game{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}
.logo-name-game {
    position: fixed;
    margin-top: 1em;
    margin-right: 92em;
    background-image: url(../img/brain.png);
    background-size: contain;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 0px 8px #FFFFFF);
    height: 6em;
    width: 6em;
}
.full-gaming-table {
    height: 45em;
    background-color: #4CAF50;
    filter: drop-shadow(0px 0px 8px #FFFFFF);
}
.row-combination-secret {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    flex-direction: row;
    border: rgb(183, 183, 255) solid 0.25em;
    border-radius: 1rem 1rem 0rem 0rem;
    height: 4.5em;
    width: 30em;
    position: absolute;
    margin-bottom: 40em;
}
.combination-secret {
    margin: 0.6em;
    width: 3.5em;
    height: 3.5em;
    border-radius: 5em;
    border: rgb(203, 203, 255) solid 0.16em;
    box-sizing: border-box;
    cursor: pointer;
}
.table-game {
    display: flex;
    position: fixed;
    background-color: #000000;
    height: 35.3em;
    width: 30em;
    margin-top: 4.5em;
    border: rgb(183, 183, 255) solid 0.25em;
}
.check-column {
    display: flex;
    flex-direction: column-reverse;
    height: 34.8em;
    width: 7.7em;
    border-top: rgb(183, 183, 255) solid 0.25em;
    border-bottom: rgb(183, 183, 255) solid 0.25em;
    border-right: rgb(183, 183, 255) solid 0.25em;
}
.check-cell01, .check-cell02, .check-cell03, .check-cell04, .check-cell05, .check-cell06, .check-cell07, .check-cell08, .check-cell09, .check-cell10 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 3.48em;
    width: 7.5em;
    border-top: #fff solid 0.16em;
    box-sizing: border-box;
}
.check-cell10 {
    border: none;
}
.check01, .check02, .check03, .check04 {
    display: flex;
    border-radius: 1em;
    background-color: "";
    height: 0.7rem;
    width: 0.7rem;
    border: #fff solid 0.16em;
}
.color-ball-history {
    display: flex;
    flex-direction: column-reverse;
    height: 34.8em;
    width: 22.3em;
    border-top: rgb(183, 183, 255) solid 0.25em;
    border-bottom: rgb(183, 183, 255) solid 0.25em;
}
.row-history01, .row-history02, .row-history03, .row-history04, .row-history05, .row-history06, .row-history07, .row-history08, .row-history09, .row-history10 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 3.48em;
    width: 22.3em;
    border-top: #fff solid 0.16em;
    box-sizing: border-box;
} 
.row-history10 {
    border: none;
}
.history-ball01, .history-ball02, .history-ball03, .history-ball04 {
    width: 2.7em;
    height: 2.7em;
    margin: -3em;
    border-radius: 5em;
    border: rgb(203, 203, 255) solid 0.16em;
    box-sizing: border-box;
}
.row-select-color-game {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #000000;
    border: rgb(183, 183, 255) solid 0.25em;
    border-radius: 0rem 0rem 1rem 1rem;
    height: 4.5em;
    width: 30em;
    margin-top: 40em;
}
.select-colors-game-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 21rem;
}
.color-select-ball01, .color-select-ball02, .color-select-ball03, .color-select-ball04, .color-select-ball05, .color-select-ball06 {
    width: 3.5em;
    height: 3.5em;
    border-radius: 5em;
    border: rgb(203, 203, 255) solid 0.16em;
    box-sizing: border-box;
    cursor: pointer;
    background-color: "";
}
.hola {
    background-color: rgb(255, 0, 0);
}
.check-button {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    height: 2em;
    width: 5em;
    margin-left: -1.5rem;
    border-radius: 0.2em;
    box-sizing: border-box;
    cursor: pointer;
}

/* GAME.HTML MEDIA QUERIES */

@media screen and (max-width: 360px) {
    .logo-name-game {
        height: 4em;
    }
    
}