body {
    margin: 0;
    background-color: black;
    display: flex;
    align-content: center;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;
}

/* INDEX HTML*/

.container-index {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.container-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;    
    height: 35em;
    width: 30em;
}
.brain{
    filter: drop-shadow(0px 0px 10px #FFFFFF);
    margin-bottom: 3em;
    height: 27em;
    transition: 1s;
}
.brain:hover{
    filter: drop-shadow(0px 0px 35px #FFFFFF);
    transition: 1s;
}
.logo-name {
    position: absolute;
    background-image: url(../img/logo-name.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 29em;
    height: 10em;
    width: 30em;
}

/* INDEX.HTML MEDIA QUERIES */

@media screen and (max-width: 360px) {
    .container-logo {
        height: 20em;
        width: 20em;
    }
  
    .brain {
        margin: 0em;
        height: 15em;
        width: 15em;
    }

    .logo-name {
        background-size: contain;
        margin-top: 22em;
        height: 10em;
        width: 20em;
  }
}

/* NAME HTML */

.container-name-cel {
    position: relative;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em;
    width: 30em;
    height: 30em;
}
.title-name {
    position: absolute;
    margin-bottom: 3.3em;
    color: #FFFFFF;
    font-family: 'Westminster';
    font-size: 6em;
}
.name-cel {
    box-shadow: 0px 0px 15px 0px rgba(255,255,255,1);
    width: 20em;
    height: 2em;
    font-family: 'Westminster';
    font-size: 3.1em;
    text-align: center;
    border-radius: 0.2em;
    color: rgb(80, 80, 80);
}
.names-button {
    position: absolute;
    font-family: 'Westminster';
    font-size: 3.1em;
    border-radius: 0.2em;
    margin-top: 5.5em;
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px rgba(255,255,255,1);
    transition: 1s;
}
.names-button:hover {
    box-shadow: 0px 0px 30px 0px rgba(255,255,255,1);
    transition: 1s;
}
